/* font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif; */

body {
    margin: 0;
    background-color: #1C1C1C;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.mainBox {
    background-color: #1F2937;
    width: 35%;
    /* height: 550px; */
    margin: 0 auto;
    margin-top: 30px;
    min-width: 550px;
}

/* MOBILE */

@media only screen and (max-width: 680px) {
  .mainBox {
      width: 100%;
  }
}

.mainBox h1 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.mainBox h2 {
    font-size: 20px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #D5D4D8;
    margin-top: 5px;
    margin-bottom: 51px;
}

.mainBox button {
    font-weight: 500;
    background-color: #10B981;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 30px;
}

.mainContent {
    padding: 105px 52px;
}

#randomPassText {
    color: #4ADF86;
}

.passfields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: .5px solid #2F3E53;
    padding-top: 20px;
    margin-top: 10px;
}

#passOutput1, #passOutput2 {
    width: 211px;
    height: 39px;
    background-color: #273549;
    color: #55F991;
    font-size: 16px;
    line-height: normal;
    min-height: 1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #1F2937;
    color: #fff;
    text-align: center; 
    border-radius: 5px; 
    padding: 16px; 
    position: absolute; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible;
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #snackbar.hide {
    visibility: hidden; /* hide the snackbar */
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }